*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/dist/
/build/
nbproject/private/private.xml
/Agenda/TK-Agenda/nbproject/private/
/TK-Agenda/dist/
/TK-Agenda/build/
TimeKeeper/build/
TK-Agenda/nbproject/private/private.xml
TimeKeeper/nbproject/private/private.xml
/TK-lib/nbproject/private/